.dmg-container {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
  z-index: 0; 
  bottom: 0;
}

.moving-gif {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.2s ease;
  z-index: 2;
}

.bubble-gif {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3; 
  display: none;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
