.dmg-container {
  width: 100%;
  height: 32px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  z-index: 0; /* Base layer for the initial container */
}

.moving-gif {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.2s ease; /* Smooth flipping effect */
  z-index: 2; /* Ensure the GIF is above its container */
}

.bubble-gif {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3; 
  display: none;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
