    /*.dmg-container {
      width: 100%;
      height: 32px;
      position: relative;
      background-color: none;
      overflow: hidden;
}

    .moving-gif {
      position: absolute;
      left: 0;
    }*/
    
.dmg-container {
  width: 100%;
  height: 32px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  z-index: 0; /* Base layer for the initial container */
}

.moving-gif {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.2s ease; /* Smooth flipping effect */
  z-index: 2; /* Ensure the GIF is above its container */
}


